<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Toolbar with fancy icons</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="ide-windows-container" #ideWindowsContainer>
  <div
    class="ide-window left"
    [style.width]="ideWindows.left.width + 'px'"
    [style.height]="ideWindows.left.height + 'px'"
  >
    Left
  </div>
  <div
    class="ide-window center"
    [style.width]="ideWindows.center.width + 'px'"
    [style.height]="ideWindows.center.height + 'px'"
  >
    Center
  </div>
  <div
    class="ide-window right"
    [style.width]="ideWindows.right.width + 'px'"
    [style.height]="ideWindows.right.height + 'px'"
  >
    Right
  </div>
  <div
    class="ide-window bottom"
    [style.width]="ideWindows.bottom.width + 'px'"
    [style.height]="ideWindows.bottom.height + 'px'"
  >
    Bottom
  </div>
</div>

<div class="ide-windows-container" #ideWindowsContainer *ngIf="false">
  <div class="ide-windows top" *ngIf="false">
    <div
      #target
      class="ide-window left"
      [style.width]="ideWindows.left.width + 'px'"
      [style.height]="ideWindows.left.height + 'px'"
    >
      Scene Graph
    </div>
    <!-- <ngx-moveable
      [target]="target"
      [resizable]="true"
      [throttleResize]="0"
      [keepRatio]="false"
      (resizeStart)="onResizeStart($event)"
      (resize)="onResize($event)"
      (resizeEnd)="onResizeEnd($event)"
    ></ngx-moveable> -->

    <div
      #mainContainer
      class="ide-window center"
      [style.width]="ideWindows.center.width + 'px'"
      [style.height]="ideWindows.center.height + 'px'"
    >
      <!-- <ace
      [config]="aceConfig"
      [mode]="'javascript'"
      [theme]="'twilight'"
      [(value)]="aceCode"
    ></ace> -->
    </div>

    <div
      #inspector
      class="ide-window right"
      [style.width]="ideWindows.right.width + 'px'"
      [style.height]="ideWindows.right.height + 'px'"
    >
      Inspector
    </div>
  </div>

  <div class="ide-windows bottom" *ngIf="false">
    <div
      #assets
      class="ide-window bottom"
      [style.width]="ideWindows.bottom.width + 'px'"
      [style.height]="ideWindows.bottom.height + 'px'"
    >
      Asset Manager
    </div>
  </div>
</div>
