<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Toolbar with fancy icons</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="ide-windows-container" #ideWindowsContainer>
  <!-- Left Window -->
  <div
    #windowLeft
    class="ide-window left"
    [style.width]="ideWindows.left.width + 'px'"
    [style.height]="ideWindows.left.height + 'px'"
  >
    Left
  </div>
  <ngx-moveable
    [target]="windowLeft"
    [resizable]="true"
    [throttleResize]="0"
    [keepRatio]="false"
    (resize)="onResize($event)"
  ></ngx-moveable>

  <!-- Center Window -->
  <div
    class="ide-window center"
    [style.width]="ideWindows.center.width + 'px'"
    [style.height]="ideWindows.center.height + 'px'"
  >
    <ace
      [config]="aceConfig"
      [mode]="'javascript'"
      [theme]="'twilight'"
      [(value)]="aceCode"
    ></ace>
  </div>

  <!-- Right Window -->
  <div
    #windowRight
    class="ide-window right"
    [style.width]="ideWindows.right.width + 'px'"
    [style.height]="ideWindows.right.height + 'px'"
  >
    Right
  </div>
  <ngx-moveable
    [target]="windowRight"
    [resizable]="true"
    [throttleResize]="0"
    [keepRatio]="false"
    (resize)="onResize($event)"
  ></ngx-moveable>

  <!-- Bottom Window -->
  <div
    #windowBottom
    class="ide-window bottom"
    [style.width]="ideWindows.bottom.width + 'px'"
    [style.height]="ideWindows.bottom.height + 'px'"
  >
    Bottom
  </div>
  <ngx-moveable
    [target]="windowBottom"
    [resizable]="true"
    [throttleResize]="0"
    [keepRatio]="false"
    (resize)="onResize($event)"
  ></ngx-moveable>
</div>
