<mat-grid-list cols="2" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>{{ 'learn.cards.tour' | transloco }}</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>{{ 'learn.cards.tutorials' | transloco }}</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>{{ 'learn.cards.videos' | transloco }}</mat-card-title>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>{{ 'todo' | transloco }}</mat-card-title>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
