<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="side-nav" mode="side">
    <h1>{{ 'nav.title' | transloco }}</h1>
  </mat-drawer>

  <div class="app-content">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ 'toolbar.title' | transloco }}</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>

<!-- <mat-sidenav-container class="side-nav-container" *ngIf="true">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>

 -->
