<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="side-nav" mode="side">
    <div class="close-side-nav" (click)="drawer.toggle()">
      <mat-icon>close</mat-icon>
    </div>

    <h1>{{ 'nav.title' | transloco }}</h1>

    <!-- NAVIGATION LINKS -->
    <div class="links">
      <!-- NAVIGATION TREE -->
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <!-- This is the tree node template for leaf nodes -->
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <!-- use a disabled button to provide padding for tree leaf -->
          <button mat-icon-button disabled></button>
          <mat-icon class="nav-icon" *ngIf="node.icon">
            {{ node.icon }}
          </mat-icon>
          <span class="link" [routerLink]="node.url">
            {{ 'nav.' + node.label + '.title' | transloco }}
          </span>
        </mat-tree-node>
        <!-- This is the tree node template for expandable nodes -->
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          matTreeNodePadding
        >
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.label"
          >
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'
              }}
            </mat-icon>
          </button>
          <mat-icon class="nav-icon" *ngIf="node.icon">
            {{ node.icon }}
          </mat-icon>
          <span class="link" [routerLink]="node.url">
            {{ 'nav.' + node.label + '.title' | transloco }}
          </span>
        </mat-tree-node>
      </mat-tree>

      <!-- LEGAL LINKS -->
      <mat-list class="legal-links">
        <mat-list-item
          class="link"
          [routerLink]="routingUrls['imprint'][activeLanguage]"
        >
          {{ 'nav.imprint.title' | transloco }}
        </mat-list-item>
        <mat-list-item
          class="link"
          [routerLink]="routingUrls['disclaimer'][activeLanguage]"
        >
          {{ 'nav.disclaimer.title' | transloco }}
        </mat-list-item>
        <mat-list-item
          class="link"
          [routerLink]="routingUrls['privacyPolicy'][activeLanguage]"
        >
          {{ 'nav.privacy-policy.title' | transloco }}
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer>

  <div class="app-content">
    <mat-toolbar color="primary">
      <button
        mat-icon-button
        aria-label="Example icon-button with menu icon"
        (click)="drawer.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ 'toolbar.title' | transloco }}</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>

    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</mat-drawer-container>
